bitrix/html_pages/
bitrix/cache/
bitrix/managed_cache/
bitrix/stack_cache/
bitrix/tmp/
bitrix/stats/
bitrix/.settings.php
bitrix/php_interface/dbconn.php
bitrix/php_interface/.#dbconn.php
bitrix/modules/updater.log
bitrix/modules/updater_partner.log
bitrix/themes/.default/modules.css
vendor
/.idea
/upload
/.htaccess
./standard_encode.zip
/standard_encode.zip

